
.pagina{
    background-image: url("../fondo.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.container{
    position: relative;
    height: 80%;
    width: 80%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.enviar{
    width: 80%;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    border-style: none;
    background: greenyellow;
    
    margin: 15px 15px;

    display: block;
    text-align: center;
    height: 30px;

    
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);
}

.editorT{
    width: 45%;
}

.cm-theme-dark{
    width: 49%;
    margin-bottom: 15px;
}

.enviar:hover{
    background: rgb(131, 208, 15);
}